body {
  background-color: #333399;
  color: #cfcfcf;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333399;
  padding: 20px;
}

 .navbar-brand {
  color: #c0c0c0;
  font-size: 24px;
}

.slogan {
  color: #c0c0c0;
  margin-left: 10px;
  font-size: 18px;
}

.navbar-nav {
   --bs-nav-link-color: #c0c0c0;
 }

.navbar-light .navbar-nav .nav-link {
  color: #c0c0c0;
  font-size: 18px;
}

.dropdown-menu {
  background-color: #333399;
}

.dropdown-item {
  color: #c0c0c0;
  font-size: 16px;
}

.btn-primary {
  background-color: #c0c0c0;
  color: #333399;
  border-color: #c0c0c0;
  font-size: 16px;
  padding: 10px 20px;
}

.hero {
  background-image: url("../images/bg1.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #c0c0c0;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
  color: #c0c0c0;
}

.form-control {
  height: 50px;
  font-size: 16px;
  background-color: #c0c0c0;
  color: #333399;
  border-color: #c0c0c0;
}

.input-group-text {
  background-color: #c0c0c0;
  color: #333399;
  border-color: #c0c0c0;
}

.datepicker {
  background-color: #c0c0c0;
  color: #333399;
  border-color: #c0c0c0;
  padding-right: 30px;
}
