{% extends "base.html" %}

{% block title %}
Admin Login
{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}
    <div>
        <img src="{{ url_for('static', filename='images/car43.jpg') }}" alt="Your Image">
    </div>
    <div>
        {{ form.email.label }} {{ form.email() }}
        {% for error in form.email.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.password.label }} {{ form.password() }}
        {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.remember_me.label }} {{ form.remember_me() }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
<div>
    <a href="{{ url_for('register') }}">Create your Account</a>
</div>
{% endblock %}
