{% extends "base.html" %}

{% block title %}Addis Ababa{% endblock %}

{% block content %}

<main>
   <section id="testimonials" class="bg-light py-5">
      <div class="container">
         <h2 class="text-center mb-4">Contact and Support</h2>
         <div class="card mx-auto" style="width: 48rem">
            <div class="card-body">
               <p>Email: info@yourcompany.com</p>
               <p>Phone: +1 123-456-7890</p>
               <p>Address: 123 Main Street, City, Country</p>
            </div>
         </div>
      </div>
   </section>
   <div id="map"></div>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQ0pQ2WS9HFFutOCxTeSuGmjL8hc1HFEM&callback=initMap"
      async defer></script>

   <!-- Add your custom JavaScript code -->
   <script>
      // Initialize and display the map
      function initMap() {
         // Coordinates for Piassa area
         var piassaLocation = { lat: 9.0356, lng: 38.7556 };

         // Create a map centered on Piassa area
         var map = new google.maps.Map(document.getElementById('map'), {
            center: piassaLocation,
            zoom: 15
         });

         // Add a marker for Piassa area
         var marker = new google.maps.Marker({
            position: piassaLocation,
            map: map,
            title: 'Piassa Area'
         });
      }
   </script>

   {% endblock %}