{% extends "base.html" %}

{% block title %}All Cars{% endblock %}

{% block content %}

<main>
   <section id="testimonials" class="bg-light py-5">
      <div class="container">

         <h2 class="text-center mb-4">Reservation Form</h2>
         <div class="card mx-auto" style="width: 28rem">
            <div class="card-body">
               {% with messages = get_flashed_messages() %}
               {% if messages %}
               <ul class=flashes>
                  {% for message in messages %}
                  <li>{{ message }}</li>
                  {% endfor %}
               </ul>
               {% endif %}
               {% endwith %}

               <form action="/reservation" method="POST">
                  <label for="name">Name:</label>
                  <input type="text" name="name" required><br><br>

                  <label for="email">Email:</label>
                  <input type="email" name="email" required><br><br>

                  <label for="phone">Phone Number:</label>
                  <input type="tel" name="phone" required><br><br>

                  <label for="address">Address:</label>
                  <input type="text" name="address" required><br><br>

                  <label for="car_id">Car ID:</label>
                  <input type="text" name="car_id" required><br><br>

                  <label for="start_date">Start Date:</label>
                  <input type="date" name="start_date" required><br><br>

                  <label for="end_date">End Date:</label>
                  <input type="date" name="end_date" required><br><br>

                  <input type="submit" value="Submit">
               </form>
            </div>
         </div>
      </div>
   </section>
</main>

{% endblock %}







  
